.botao{
    width: 300px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #B51D44;
    color: white;
    border-radius: 6px;
    font-size: medium;
    /* negrito */
    /* font-weight: bolder; */
}