.div_para_titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.div_para_titulo h1 {
    padding-bottom: 10px;
}

.div_para_titulo hr {
    width: 225px;
    margin: 0 auto;
    height: 2px;
    border: none;
    background-color: #B51D44;
    ;    
}

.div_para_imagem {
    height: 500px;
    width: 50%;
    background-image: url(../../assents/img/bannerquatro.png);
    background-position: center;
    background-repeat: no-repeat;
}

.apenas_para_ficar_do_lado {
    display: flex;
}

.div_para_esquerda {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    width: 50%;
}

.div_para_colocar_um_embaixo_do_outro {
    display: flex;
    flex-direction: column;

}

.div_para_colocar_um_embaixo_do_outro input {
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: black;
    margin-bottom: 50px;
    padding-left: 10px;
    outline: none;
}

.div_para_colocar_um_embaixo_do_outro select {
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: black;
    margin-bottom: 75px;
    padding-left: 10px;
    outline: none;
}

/* Me de algumas caracteristicas a partir de um tamanho de tela */
@media screen and (max-width: 768px){
    .div_para_imagem{
        /* desaparece p banner */
        display: none;
    }
}